@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0c2a;
}

ul,
p {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: #070720;
  padding-left: 90px;
  padding-right: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*logo in navbar and footer*/
nav .logo p,
footer .logo p {
  font-weight: 600;
  color: #fff;
  font-size: 35px;
}

nav .logo p span,
footer .logo p span {
  color: #e53637;
}

/*nav links in navbar and footer*/
nav .nav-links,
.nav-icons ul,
footer .nav-links {
  display: flex;
}

nav .nav-links li,
.nav-icons ul li,
footer .nav-links li {
  list-style: none;
  font-family: Mulish, sans-serif;
}

nav .nav-links li a,
.nav-icons ul li i,
footer .nav-links li a {
  text-decoration: none;
  color: #b7b7b7;
  padding: 20px;
  font-size: 16px;
  transition: color ease-in-out 0.2s;
}

nav .nav-links li a.active {
  background-color: #e53637;
  color: #fff;
}

nav .nav-links li a:hover,
footer .nav-links li a:hover {
  color: #fff;
}

/*dropdown menu in navbar*/
nav .nav-links .sub-menu {
  position: absolute;
  top: 56px;
  background-color: #fff;
  display: none;
  z-index: 2;
}

nav .nav-links .sub-menu li {
  padding: 0;
  margin: 10px 0;
}

nav .nav-links .sub-menu li a {
  font-size: 14px;
  color: #111;
  font-weight: 600;
  padding: 5px 20px;
}

/*dropdown menu on click - second row in header section*/
header .menu {
  background-color: #4c4c4c;
  padding: 10px;
}

header .menu .menu-item {
  display: flex;
  justify-content: flex-end;
}

header .menu .menu-item p {
  background-color: #222;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
}

header .menu .dropdown {
  margin-left: 20px;
  display: none;
}

header .menu .dropdown li {
  list-style: none;
}

header .menu .dropdown li a {
  text-decoration: none;
  font-family: Mulish, sans-serif;
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 5px;
}

header .menu .dropdown li a:hover {
  border-radius: 6px;
  background: #ccc;
  color: #222;
}

/*banner*/
.banner {
  padding: 50px 90px 0 90px;
  position: relative;
}

.banner .banner-content {
  position: absolute;
  bottom: 70px;
  left: 200px;
}

.banner .banner-content .label {
  font-family: Mulish, sans-serif;
  font-size: 14px;
  color: #e53637;
  background-color: #fff;
  width: fit-content;
  padding: 5px 10px;
}

.banner .banner-content h2 {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}

.banner .banner-content p {
  font-family: Mulish, sans-serif;
  color: #fff;
  margin-bottom: 40px;
}

.banner .banner-content a {
  background-color: #e53637;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px;
}

.banner .banner-content a i {
  font-size: 13px;
  margin-left: 5px;
}

/*trending, popular, recent, live sections*/
.home-sec {
  margin-top: 60px;
  padding-left: 90px;
}

.home-sec .title {
  align-items: center;
  margin-bottom: 10px;
}

.home-sec .title h2 {
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  border-left: #e53637 4px solid;
  font-size: 28px;
}

.home-sec .title .col-md-4 {
  text-align: right;
}

.home-sec .title a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Mulish, sans-serif;
  letter-spacing: 1px;
}

.home-sec .title a i {
  margin-left: 5px;
  font-size: 16px;
}

.home-sec .icon-row .product-item .product-img {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.home-sec .icon-row .product-item .product-img img {
  width: 100%;
  border-radius: 5px;
}

.home-sec .icon-row .product-item .product-img i {
  margin-right: 6px;
}

.home-sec .icon-row .product-item .product-img .ep {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e53637;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 2px 15px;
  letter-spacing: 2px;
}

.home-sec .icon-row .product-item .product-img .comment {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #3d3d3d;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 2px 15px;
}

.home-sec .icon-row .product-item .product-img .view {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #3d3d3d;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 2px 15px;
}

.home-sec .icon-row .product-item .product-info ul {
  display: flex;
  margin-bottom: 10px;
}

.home-sec .icon-row .product-item .product-info ul li {
  list-style: none;
  font-family: Mulish, sans-serif;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  font-size: 11px;
  padding: 1px 10px;
  border-radius: 10px;
}

.home-sec .icon-row .product-item .product-info h5 a {
  color: #fff;
  font-family: Mulish, sans-serif;
}

/*sidebars*/
/*top views icon*/
.topviews {
  margin-top: 60px;
  padding-right: 90px;
}

.topviews .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.topviews .title h2 {
  color: #fff;
  text-transform: uppercase;
  padding-left: 15px;
  font-family: "Oswald", sans-serif;
  border-left: #e53637 4px solid;
  font-size: 20px;
}

.topviews .title ul {
  display: flex;
}

.topviews .title ul li {
  list-style: none;
  color: #b7b7b7;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  margin-left: 10px;
}

.topviews .topicon img {
  border-radius: 5px;
}

.topviews .topicon {
  position: relative;
}

.topviews .topicon .ep {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e53637;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 2px 15px;
  letter-spacing: 2px;
}

.topviews .topicon .view {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #3d3d3d;
  border-radius: 5px;
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 2px 15px;
}

.topviews .topicon .toptitle {
  position: absolute;
  bottom: 10px;
}

/*Footer*/
/*footer nav icons style is written above with nav tag style*/
footer {
  background-color: #070720;
  padding: 50px 90px 60px;
  position: relative;
  margin-top: 40px;
}

footer .scrollup {
  background-color: #e53637;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -21px;
  left: 50%;
}

footer .scrollup a {
  color: #fff;
  font-size: 20px;
}
